.coaches.container {
  position: relative;
  padding-top: 22px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 0;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-bottom: 69px;
  }
}

.coaches h2 {
  margin: 0;
  margin-bottom: 45px;
  font-family: $ff-bebas;
  font-size: 53px;
  line-height: normal;
  text-transform: uppercase;

  @include vp-1199 {
    margin-bottom: 38px;
    font-size: 45px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 38px;
    font-size: 34px;
  }
}

.coaches__slider {
  width: 100%;
  height: auto;

  @media (max-width: 980px) {
    width: 90%;
  }

  @media (max-width: 859px) {
    height: 38.3vw;
    width: 74vw;
  }

  @media (max-width: 474px) {
    height: 86vw;
    width: 71vw;
  }
}

.coaches__slide {
  position: relative;
  background-color: $color-dark-grey;
}

.coaches__slide img {
  @include vp-1199 {
    width: 100%;
    height: auto;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.coaches__description-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $color-default-white;
}

.coaches__slide h3 {
  margin: 0;
  margin-top: 94%;
  width: 100%;
  bottom: 32px;
  font-size: 18px;
  line-height: normal;
  text-align: center;

  @include vp-1199 {
    margin-top: 20vw;
    font-size: 2vw;
  }

  @media (max-width: 859px) {
    margin-top: 32vw;
    font-size: 2.3vw;
  }

  @include vp-767 {
    font-size: 3vw;
  }

  @media (max-width: 474px) {
    font-size: 5.6vw;
    margin-top: 66vw;
  }
}

.coaches__slide p {
  text-align: center;

  @include vp-1199 {
    font-size: 1.6vw;
  }

  @media (max-width: 859px) {
    font-size: 2.1vw;
  }

  @include vp-767 {
    font-size: 2.8vw;
  }

  @media (max-width: 474px) {
    font-size: 5.1vw;
  }
}

.coaches__slide ul {
  list-style: initial;
  width: 61%;
  margin: 0 auto;
  padding-left: 16px;
  font-size: 14px;
  overflow: auto;

  @include vp-1199 {
    width: 60%;
    font-size: 1.4vw;
  }

  @media (max-width: 859px) {
    font-size: 1.85vw;
  }

  @include vp-767 {
    width: 72%;
    font-size: 2.3vw;
  }

  @media (max-width: 474px) {
    width: 72%;
    font-size: 4.5vw;
  }
}

.coaches__slide li {
  margin-bottom: 8px;
}

.coaches__slide p,
.coaches__slide ul {
  display: none;
}

.coaches__slide:hover .coaches__description-wrapper,
.coaches__slide:active .coaches__description-wrapper,
.coaches__slide:focus-within .coaches__description-wrapper {
  padding-bottom: 15px;
  background-color: $color-dark-blue-90;
}

.coaches__slide:hover h3,
.coaches__slide:active h3,
.coaches__slide:focus-within h3 {
  margin-top: 55px;

  @include vp-767 {
    margin-top: 46px;
  }
}

.coaches__slide:hover p,
.coaches__slide:hover ul,
.coaches__slide:active p,
.coaches__slide:active ul,
.coaches__slide:focus-within p,
.coaches__slide:focus-within ul {
  display: block;
}

.coaches__slide:hover p,
.coaches__slide:active p,
.coaches__slide:focus-within p {
  margin: 0;
  margin-bottom: 32px;

  @include vp-1199 {
    margin-bottom: 2vw;
  }

  @media (max-width: 859px) {
    margin-bottom: 4vw;
  }

  @include vp-767 {
    margin-bottom: 3vw;
  }

  @media (max-width: 474px) {
    margin-bottom: 10vw;
  }
}


