.promo {
  padding-top: 119px;
  padding-bottom: 100px;
  color: $color-default-white;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 69px;
  }
}

.promo .container {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto;

  @include vp-1199 {
    grid-template-columns: 1.515fr 2fr;
    grid-template-rows: min-content;
  }

  @include vp-767 {
    grid-template-columns: 100%;
    grid-template-rows: min-content 292px;
  }
}

.promo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.promo__wrapper {
  padding: 89px 78px 80px;
  background-color: $color-red;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    padding: 53px 45px 49px;
  }

  @include vp-767 {
    padding-right: 23vw;
    padding-left: 25vw;
  }

  @media (max-width: 480px) {
    padding-right: 45px;
    padding-left: 45px;
  }
}

.promo__wrapper-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include vp-1199 {
    margin-bottom: 0;
    margin-right: -7px;
  }

  @include vp-767 {
    justify-content: flex-start;
  }

  @media (max-width: 480px) {
    justify-content: space-between;
  }
}

.promo h2 {
  margin: 0;
  width: 60%;
  font-family: $ff-bebas;
  font-size: 95px;
  line-height: 90px;
  text-transform: uppercase;

  @include vp-1199 {
    width: 31%;
    font-size: 7vw;
    line-height: 6.7vw;
  }

  @include vp-767 {
    width: 50%;
    font-size: 12vw;
    line-height: 11vw;
    margin-right: 4vw;
  }

  @media (max-width: 480px) {
    width: 46%;
    font-size: 17vw;
    line-height: 15.7vw;
  }
}

.promo__wrapper-description {
  @include vp-1199 {
    margin-top: 2px;
  }
}

.promo__wrapper-description-item {
  &:not(:last-child) {
    margin-bottom: 20px;

    @include vp-1199 {
      margin-bottom: 7px;
    }
  }
}

.promo dl {
  margin: 0;
  margin-right: -2px;
  margin-top: -6px;
}

.promo dt {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: normal;

  @include vp-1199 {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.promo dd {
  position: relative;
  display: inline;
  width: auto;
  margin: 0;
  font-size: 40px;
  line-height: normal;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    font-size: 24px;
  }
}

.promo dd span {
  display: inline-block;
  margin-top: 8px;
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  @include vp-1199 {
    margin-top: 4px;
    font-size: 10px;
    line-height: 10px;
  }
}

.promo p {
  margin: 0;
  margin-bottom: 47px;
  font-size: 18px;
  line-height: normal;

  @include vp-1199 {
    font-size: 1.56vw;
    margin-bottom: 32px;
  }

  @include vp-767 {
    font-size: 3vw;
    margin-bottom: 34px;
  }

  @media (max-width: 480px) {
    font-size: 3.7vw;
    margin-bottom: 34px;
  }
}

.promo__button {
  margin-top: auto;
}

.promo__wrapper-img {
  background-color: $color-sapphire-blue;
}
