.social {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social li {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-767 {
    margin-left: 0;
    margin-right: 11px;
  }
}

.social svg {
  fill: $color-default-white;
}


