.tabs {
  position: relative;
  z-index: 20;
}

.tabs__buttons {
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
}

.tabs__item-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-grey-20;
  }
}

.tabs__button-item {
  display: inline-block;
  padding-bottom: 16px;
  color: $color-dark-blue-50;
  font-size: 20px;
  text-decoration: none;

  &:not(:last-of-type) {
    margin-right: 47px;
  }

  &--active {
    position: relative;
    color: $color-sapphire-blue;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-crimson;
      animation: fade 0.8s ease-out;
    }
  }
}

.tabs__content-item {
  display: none;

  &--active {
    display: block;
  }
}

.tabs__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  animation: fade 0.3s ease-out;
}

.tabs__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 31%;
  padding: 5px 5px;
  background-color: $color-default-white;

  &:hover {
    background: $blue-to-red;
  }
}

.tabs__wrapper-inner {
  padding: 60px 69px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-default-white;
}

.tabs__list h3 {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: $color-sapphire-blue;
}

.tabs__list p {
  margin: 0;
  margin-bottom: 98px;
  text-align: center;
  color: $color-chambray;
}

.tabs__list .tabs__price {
  position: relative;
  z-index: 1;
  margin-bottom: 66px;
  font-size: 59px;
  font-weight: 700;
  text-align: center;
  color: $color-sapphire-blue;

  &::before {
    content: attr(data-price);
    position: absolute;
    z-index: -1;
    bottom: 23px;
    left: -17px;
    font-size: 100px;
    color: $color-whisper;
  }
}

.tabs__price span {
  color: $color-egyptian-blue;
}

.tabs__button {
  width: 100%;
}
